.ui.right.floated.buttons
  if (metadata && metadata.edit && metadata.source)
    a.ui.button.tooltipped(href="#{metadata.edit}", title="Launch an editor to change content on this page.")
      i.icon.pencil
      | edit this page
    .or
    a.ui.button(href="#{metadata.source}", title="View the original content used to generate this page.")
      i.icon.code
      | view the source
