if (messages && (messages.info || messages.warning || messages.error || messages.success))
  for info in messages.info
    .ui.info.message
      i.icon.close(type="button", data-dismiss="alert")
      h4.header !{info}
  for warning in messages.warning
    .ui.error.message
      i.icon.close(type="button", data-dismiss="alert")
      h4.header !{warning}
  for error in messages.error
    .ui.error.message
      i.icon.close(type="button", data-dismiss="alert")
      h4.header !{error}
  for success in messages.success
    .ui.success.message
      i.icon.close(type="button", data-dismiss="alert")
      h4.header !{success}
