a.ui.fluid.link.card(href="/invitations")
  .image
    .ui.icons
      i.icon.huge.centered.user
  .content
    .header Missing someone?
    p Your friend should be here.  
  .extra.content
    .ui.fluid.button.labeled.green
      | Invite Them
      i.icon.right.chevron
