.ui.fluid.card
  .image
    img(src="/img/image.png")
  .content
    .header Missing someone?
    p Your friend could be here.  
  .extra.content
    a.ui.fluid.button.labeled.green(href="/invitations")
      | Invite Them
      i.icon.right.chevron
