//- TODO: .asHTML() (toJSON -> toHTML) or .as('html')
form.ui.form.comment(on-tap="#{(user) ? undefined : 'launch-join-modal'}", action="/messages", method="POST")
  input(type="hidden", name="topic", value="#{topic.id}")
  if (user)
    input(type="hidden", name="author", value="#{user.id}")

  .avatar
    if (user)
      img(src="#{user.image.avatar}")
    else
      img(src="/img/image.png")
  .content
    .text
      .ui.fluid.action.input(class=((user) ? undefined : 'disabled'))
        input.inline(type="text", name="content", placeholder="Start typing", disabled=((user) ? undefined : true))
        button.ui.right.labeled.icon.button(type="submit", class=((user) ? undefined : 'disabled'))
          i.share.icon
          | send
  if (!user)
    h4 Sign in to participate
    .ui.button(href="/authentications/slack") Sign in

script.
  window.addEventListener('load', function() {
    $('.tooltipped.comment.form').popup({
      hoverable: true,
      delay: {
        hide: 250
      }
    });
    
    $(document).on('click', '*[on-tap=launch-join-modal]', function(e) {
      e.preventDefault();
      
      $('#join-modal').modal('show');
      
      return false;
    });
    
  });
