extends layout

block content
  if (user)
    h1 Welcome, #{user.username}!

  else
    .jumbotron
      h1 Hello, Maki.
      p A simple framework for hand-rolling your web application.

    .row
      .col-md-4
        h2 Tagline 1.
        p Super awesome pitch belongs here.
      .col-md-4
        h2 Tagline 2.
        p What else can sell your app?
      .col-md-4
        h2 Already registered?
        include forms/login