
<!DOCTYPE html>
<html ng-app="maki">
  <head>
    <title>Maki</title>
    <link rel="stylesheet" href="/css/bootstrap-8f6f70d0e260100df8092b04aa1ccf73.css">
    <link rel="stylesheet" href="/css/font-awesome-144dc74124163c0145f700edf312c8c1.css">
    <link rel="stylesheet" href="/css/highlight/maki-0e1097601b17f8845270ee2483c21e40.css">
    <link rel="stylesheet" href="/css/maki-eb8ea0554b0bd74327bf7b089734642d.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/angular-resource.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/headroom.min.js"></script>
    <script>
      function connectEndpoint() {
        var path = 'ws://' + window.location.host + window.location.pathname;
        var socket = new WebSocket( path );
        socket.onclose = function() {
          console.log('close, reconnect... ');
          setTimeout( connectEndpoint , 5000);
        }
        socket.onmessage = function(msg) {
          try {
            var data = JSON.parse( msg.data );
          } catch (e) {
            var data = {};
          }
          console.log(data);
        };
      }
      connectEndpoint();
      
    </script>
    <script src="/js/maki.js"></script>
    <base href="/">
  </head>
  <body ng-controller="mainController">
    <div ng-controller="headerController" headroom class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Maki</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}"><a href="/" title="Maki Homepage"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li ng-class="{ active: isActive('/examples')}"><a href="/examples" title="Projects using Maki"><i class="glyphicon glyphicon-leaf"></i> Examples</a></li>
            <li ng-class="{ active: isActive('/people')}"><a href="/people" title="People on this Maki, an example resource."><i class="glyphicon glyphicon-user"></i> People</a></li>
            <li ng-class="{ active: isActive('/register') }"><a href="/register">Sign Up &raquo;</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/login') }"><a href="/login">Log In</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view class="content">
        <div class="jumbotron">
          <h1>Hello, Maki.</h1>
          <p>A simple framework for hand-rolling your web application.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2>Hand-rolled.</h2>
            <p>No black boxes or arcane scribbling here.  Pure Javascript, and direct access to everything.</p>
          </div>
          <div class="col-md-4">
            <h2>Get Making.</h2>
            <p>Get started on that project <em>now</em>.  Don't worry about project setup.</p>
          </div>
          <div class="col-md-4">
            <h2>Already registered?</h2>
            <form action="/login" method="post">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-default pull-right">Log In &raquo;</button>
            </form>
          </div>
        </div>
        <div class="row">
          <h3>Features</h3>
          <hr>
          <h4>Full-Javascript Stack</h4>
          <p>Build your app without wasting time on context switching.  Every layer of the Maki stack is Javascript, from the database (MongoDB) to the server (Node.js) and on to the clientside.</p>
          <h4>Authentication</h4>
          <p>We've built authentication into the stack (using PassportJS), including username and password auth, and OAuth using providers like Facebook and Twitter.  Spend your time on your app, not third-party auth.</p>
        </div>
        <div class="row">
          <h3>Documentation</h3>
          <h4>Resource-Driven Development</h4>
          <p>You'll start your hand-rolled application by defining the resources your application exposes:</p>
          <pre><code class="javascript">
              resource.define({
                  name: 'person'
                , path: '/people/:personID'
                , template: 'person'
                , get: function( id , cb ) {
                    Person.findOne({ _id: id }).exec( cb );
                  }
              });</code></pre>
          <p>Almost like magic, <strong>your resource now has an endpoint that renders HTML <em>and</em> serves JSON</strong>.  Even better, AngularJS will automatically wire itself up to this resource.</p>
          <h4>UI</h4>
          <p>We're using Bootstrap for our base CSS framework, giving us a generally semantic way of building interface elements.  In addition, we're using Jade to simplify the construction of HTML using simple style rules.</p>
          <h5>Tooltips</h5>
          <p>Add <code>.tooltipped</code> to an element to enable automatic generation of a tooltip for that element, defaulting to its <code>title</code> attribute.</p>
          <p>For example, <code>a.tooltipped(href="/about", title="Learn More about Maki") About</code> will produce: <a href="/about" title="Learn More about Maki" class="tooltipped">About</a></p>
        </div>
        <div class="row">
          <hr>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <p><small><a href="http://github.com/martindale/maki">Made</a> with care by <a href="http://www.ericmartindale.com/">Eric Martindale</a>.</small> <a href="bitcoin:1Ae7wguPTP8Zm3146opVhay4hUS7NiaxYw" alt="B" class="btn btn-default">Donate <i class="fa fa-bitcoin"></i>itcoin &raquo;</a></p>
      </div>
    </footer>
  </body>
</html>
