!!! 5
html
  head
    title Maki

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/maki.css")

    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/angular.js")
    script(src="/js/angular-route.js")
    script(src="/js/angular-resource.js")
    script(src="/js/maki.js")

    //-base(href="/")

  body(data-ng-app="maki")

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Maki
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href="/", title="Maki Homepage")
                i.glyphicon.glyphicon-home
                |  Home
            li
              a(href="/examples", title="Projects using Maki")
                i.glyphicon.glyphicon-leaf
                |  Examples
            li
              a(href="/people", title="People on this Maki, an example resource.")
                i.glyphicon.glyphicon-user
                |  People
            if (!user)
              li
                a(href="/register") Sign Up &raquo;

          ul.nav.navbar-nav.navbar-right
            if (user)
              li
                a(href="/people/#{user.slug}") #{user.username}
              li
                a(href="/logout") Log Out
            else
              li
                a(href="/login") Log In

    .container

      include partials/flash

      block content

      .other-content(data-ng-view)

    footer
      .container
        p
          small <a href="http://github.com/martindale/maki">Made</a> with care by <a href="http://www.ericmartindale.com/">Eric Martindale</a>.
        p
          a(class="coinbase-button", data-code="316e0eac837e964996b403a0a6e04930", data-button-style="custom_small", href="https://coinbase.com/checkouts/316e0eac837e964996b403a0a6e04930") Donate 
            i.glyiphicon.glyphicon-bitcoin
            |  BitCoin
          script(src="https://coinbase.com/assets/button.js", type="text/javascript")
