extends {process.env.PWD + '/views/layouts/default'}

block scripts
  script.
    hljs.initHighlightingOnLoad();

block content
  include partials/edit-self

  if (metadata && metadata.title)
    h1 #{metadata.title}
    if (metadata.description)
      h2 #{metadata.description}
  
  
  #page-content !{content}
