extends {process.env.PWD + '/views/layouts/default'}

block scripts
  script.
    hljs.initHighlightingOnLoad();
    
block masthead
  include partials/edit-self

  if (page && page.title)
    h1 #{page.title}
    if (page.description)
      h2 #{page.description}

block content
  .ui.text-container !{content}
