extends layouts/default

block content
  
  .ui.container.grid
    .row
      .ui.text.container(style="margin-top: 2em;")
        h1 People: the Maki Community
        p We are the people working towards <a href="https://slack-files.com/T09HF1HK9-F1827U79U-5cf8742c4f">the Maki Vision</a> by being members of <a href="https://chat.maki.io">the public chat</a>.  Add yourself to this list by <a href="https://chat.maki.io">signing in to Slack</a>, and update it by editing your profile there.
        p Conveniently, this page also serves as an example resource that can be synchronized with an oracle (or more simply, a trusted API).  Take a <a href="https://github.com/martindale/maki/blob/recognition/tools/slack.sync.people.js">look at the source code</a>!
        
        .ui.huge.fluid.buttons
          a.ui.labeled.button(href="/topics")
            i.icon.comment
            | Browse the Topics
          .or
          a.ui.primary.labeled.button(href="https://chat.maki.io")
            i.icon.left.users
            | Join the Community
            i.icon.right.chevron

    .row(style="margin-top: 2em;")
      h2 #{people.length} People in our Community
      .ui.five.stackable.cards
        - var shuffled = _.shuffle(people);
        for person in shuffled
          include partials/person
