extends layouts/default

block masthead
  - if (page && page.masthead)
    style.
      .masthead {
        background: url('#{page.masthead}');
      }

block content
  //- TODO: allow "requirements" to set the local variable names
  - var favorites = messages.slice(0);
  - favorites.sort(function(a, b) { return b.stats.reactions - a.stats.reactions; });
  
  .ui.grid.stackable
    .row
      .four.wide.column
        include partials/person
      .twelve.wide.column
        if (favorites.length)
          .ui.message
            .content
              .header Top Contribution
              .ui.comments
                - var message = favorites[0]
                include partials/message
        .ui.comments
          - messages = messages.slice(0, 5);
          for message in messages
            include partials/message
