extends layouts/default

block content
  h2 Maki Plugins
  
  .ui.divided.items
    for plugin in plugins
      a.item(href="#{plugin.uri}")
        //-if (plugin.image)
          .image
            img(src="#{plugin.image}")
        .content
          .header #{plugin.name}
          p.description #{plugin.description}
