.ui.page.grid
  .ui.pointing.menu.large(ng-controller="headerController")
    a.item(href="/")
      i.icon.lab.left
      | #{config.service.name}

    //- block for prepend/append/replace-able menu items
    block mainMenu
      a.item(href="/", title="#{config.service.name} Homepage", ng-class="{ active: isActive('/')}")
        i.home.icon
        |  Home
      .right.menu
        a.item(href="https://github.com/martindale/maki")
          i.code.icon
          |  Code &raquo;
        
