dom-module#maki-undefined
  template
    .ui.text.container
      h1 Nothing known.
      p We're sorry, but we don't know anything about that.  Here are some alternative resources you might be interested in.
      
      .ui.horizontal.segments
        .ui.segment
          p One
        .ui.segment
          p Two
        .ui.segment
          p Two
  script.
    Polymer({
      is: 'maki-undefined'
    });
