dom-module#maki-application
  template
    .ui.page.grid
      .row
        #navigation(style="width:100%;")
          maki-navbar

      .row
        .column.content
          maki-index

      .row
        .ui.one.column.stackable.center.aligned
          small <a href="http://github.com/martindale/maki">Made</a> with care by <a href="http://www.ericmartindale.com/">Eric Martindale</a>.

  script.
    Polymer({
      is: 'maki-application',
      created: function() {
        console.log('Go team. :)');
      }
    });
