dom-module#maki-channel
  script(src="/js/uuid.js")
  script(src="/js/jsonrpc.js")
  script.
    Polymer({
      is: 'maki-channel',
      properties: {
        autoconnect: {
          type: Boolean
        },
        reconnect: {
          type: Boolean
        },
        subscriptions: {
          type: Array
        },
        ws: {
          type: Object
        },
        src: {
          type: String
        },
      },
      ready: function() {
        var self = this;
        console.log('[MAKI:CHANNEL]', 'ready');
        if (self.autoconnect === true) {
          self._connect();
        }
      },
      _send: function(method, params) {
        var self = this;
        self.ws.send(JSON.stringify({
          'jsonrpc': '2.0',
          'method': method,
          'params': params,
          'id': uuid.v4() // TODO: sequence?
        }));
      },
      _subscribe: function(path) {
        console.log('[MAKI:CHANNEL]', 'subscribing to:', path);
        var self = this;
        self._send('subscribe', {
          channel: path
        });
      },
      _consume: function() {
        var self = this;
        var elements = document.querySelectorAll('[src]');
        
        console.log('[MAKI:CHANNEL]', '_consume', elements);
        
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          self._subscribe(element.src);
        }
      },
      _connect: function() {
        var self = this;
        var maki = document.querySelectorAll('maki-application')[0];
        var protocol = (document.location.protocol === 'http:') ? 'ws://' : 'wss://';
        var path = protocol + document.location.host; // + self.src;
        
        console.log('[MAKI:CHANNEL]', 'websocket connecting to: ', path);
        
        self.ws = new WebSocket(path);
        self.ws.onclose = function onClose() {
          if (self.reconnect === true) {
            setTimeout(function() {
              self._connect();
            }, 500);
          }
        }
        self.ws.onmessage = function onMessage(msg) {
          try {
            var data = JSON.parse( msg.data );
          } catch (e) {
            var data = {};
          }
          // experimental JSON-RPC implementation
          if (data.jsonrpc === '2.0') {
            switch (data.method) {
              case 'ping':
                console.log('[MAKI:CHANNEL]', 'received ping.  playing pong...');
                self.ws.send(JSON.stringify({
                  'jsonrpc': '2.0',
                  'result': 'pong',
                  'id': data.id
                }));
              break;
              case 'patch':
                // TODO: update in-memory data (two-way binding);
                console.log('[MAKI:CHANNEL]', 'received `patch` event:', data.params.channel , data );
                var channel = data.params.channel;
                var ops = data.params.ops;
                var datastore = document.querySelectorAll('maki-datastore')[0];
                
                datastore._patch(channel, ops);
              
              break;
              default:
                console.error('[MAKI:CHANNEL]', 'unhandled jsonrpc method ' , data.method);
              break;
            }
          } else {

          }
        }
        self.ws.onopen = function onOpen() {
          console.log('[MAKI:CHANNEL]', 'websocket open.');
        }
      },
    });
