dom-module#chat-input
  template
    input.ui.input
  script.
    Polymer({
      is: 'chat-input',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[MAKI:MESSAGE]', '_load', uri, back);
        self.toggleClass('loading', true);

        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(self.src, function(data) {
          data.link = '/messages/' + item.id;
          self.data = data.link;
          self.toggleClass('loading', false);
        });

      },
      ready: function() {
        console.log('[MAKI:MESSAGE]', 'ready');
      }
    });
