dom-module#maki-community-welcome
  template
    h2.ui.inverted.header Come build with us!
      a.ui.blue.link.label(on-tap="focus-input-email")
        i.icon.chat 
        span {{online}}
        | online now!
    include ../views/forms/register
  
  script.
    Polymer({
      is: 'maki-community-welcome',
      ready: function() {
        console.log('[MAKI:COMMUNITY-WELCOME]', 'ready');
      }
    });
