dom-module#maki-datastore
  script(src="/js/json-patch-duplex.min.js")
  script.
    Polymer({
      is: 'maki-datastore',
      properties: {
        name: { 
          type: String
        },
        store: {
          type: Object
        }
      },
      listeners: {
        'datastore:miss':   '_handleMiss',
        'datastore:change': '_handleChange'
      },
      _store: function(key, val, cb) {
        var self = this;
        console.log('[MAKI:DATASTORE]', '_store', typeof val, key, val);
        if (val instanceof Array && val.length === 0) return;
        self.store.put(key, val, function(err) {
          if (err) console.error(err);
          self.fire('datastore:change', {
            key: key,
            val: val
          });
        });
      },
      _retrieve: function(key, cb) {
        var self = this;
        console.log('[MAKI:DATASTORE]', '_retrieve looking for:', key);
        self.store.get(key, {
          asBuffer: false
        }, function(err, val) {
          if (err) console.error(err);
          if (!val) return self.fire('datastore:miss', key);
          console.log('[MAKI:DATASTORE]', '_retrieve result:', key, val);
          return cb(err, val);
        });
      },
      _patch: function(key, ops, cb) {
        var self = this;
        console.log('[MAKI:DATASTORE]', 'datastore:patch:', key, ops);
        self._retrieve(key, function(err, obj) {
          if (err) console.error(err);
          console.log('[MAKI:DATASTORE]', 'applying to:', obj);
          jsonpatch.apply(obj, ops);
          console.log('[MAKI:DATASTORE]', 'obj now:', obj);

          self._store(key, obj, function(err) {
            if (err) console.error(err);
          });
        });
      },
      _handleMiss: function(e, detail) {
        var self = this;
        var key = e.detail;

        console.log('[MAKI:DATASTORE]', '_handleMiss', e, detail);

        $.getJSON(key, function(data) {
          console.log('[MAKI:DATASTORE]', 'retrieved (from remote)', data);
          if (!data) return;
          self._store(key, data, function(err) {
            if (err) console.error('[MAKI:DATASTORE]', '_handeMiss error:', err);
          });
        });
      },
      _handleChange: function(e, detail) {
        var self = this;
        var key = detail.key;
        var val = detail.val;
        
        console.log('[MAKI:DATASTORE]', '_handleChange', detail);
        
        var channel = document.querySelectorAll('maki-channel');
        /*channel._send('patch', {
          channel: key,
          ops: [{ op: 'add',  }]
        });*/
        
        var pattern = '[src="'+key+'"]';
        console.log('[MAKI:DATASTORE]', 'pattern:', pattern);

        var elements = document.querySelectorAll(pattern);
        
        console.log('[MAKI:DATASTORE]', 'elements bound to this key:', key, elements);
        
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          element._sync();
        }
      },
      _sync: function() {
        var elements = document.querySelectorAll('[src]');
        
        console.log('[MAKI:DATASTORE]', '_sync', elements);
        
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          if (typeof element._sync === 'function') {
            console.log('[MAKI:DATASTORE]', 'syncing', element);
            element._sync();
          }
        }
      },
      attached: function() {
        var self = this;
        console.log('[MAKI:DATASTORE]', 'attached');
      },
      ready: function() {
        var self = this;
        console.log('[MAKI:DATASTORE]', 'ready');
        self.store = level(self.name);
        self.store.open(function(err) {
          console.log('[MAKI:DATASTORE]', 'open');
          var event = new Event('datastore:open')
          window.dispatchEvent(event);

          if (err) console.error(err);
          self._sync();
        });
      }
    });
