dom-module#maki-footer
  template
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .six.wide.column
        h4.ui.inverted.header About
        p !{config.service.about}
        //-.ui.inverted.link.list
          a.item(href="#") Protocol
          a.item(href="#") Whitepaper
          a.item(href="#") Roadmap
          a.item(href="#") Contact Us
      .seven.wide.column
        h4.ui.inverted.header Copyright
        p !{config.service.copyright}
      .three.wide.column
        h4.ui.inverted.header Elsewhere
        .ui.inverted.link.list
          a.item(href="https://github.com/martindale/maki", rel="me")
            i.icon.github
            |  GitHub
          a.item(href="https://twitter.com/martindale", rel="me")
            i.icon.twitter
            |  Twitter
          a.item(href="https://facebook.com/eric.martindale", rel="me")
            i.icon.facebook
            |  Facebook
          //-a.item(href="#", rel="me")
            i.icon.medium
            |  Medium

  script.
    Polymer({
      is: 'maki-footer',
      ready: function() {
        console.log('[MAKI:FOOTER]', 'ready');
      }
    });
