//- a human-friendly name for users
dom-module#maki-person-card
  template
    a.image(href="/people/{{data.id}}")
      img(src="{{data.image.avatar}}")
    .content
      a.header(href="/people/{{data.slug}}")
        small(style="color: rgba(0,0,0,.4);") @
        | {{data.username}}
      .meta joined in 
        abbr.tooltipped(title="{{data.created}}") {{data.created.getFullYear()}}
      p {{data.bio}}
    .extra.content
      .ui.buttons
        each profile in data.profiles
          .ui.button {{profile}}
  script.
    Polymer({
      is: 'maki-person-card',
      properties: {
        src: { type: String , observer: '_load' },
        data: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[MAKI:TILE]', '_load', uri, back);
        self.toggleClass('loading', true);

        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(self.src, function(data) {
          self.data = data;
          self.toggleClass('loading', false);
        });

      },
      ready: function() {
        console.log('[MAKI:TILE]', 'ready');
      }
    });
