dom-module#maki-pitch
  template
    h1.ui.inverted.header {{pitch}}
    h2.ui.inverted.header {{mission}}
    
    .content.top-padded
      template(is="dom-if", if="{{cta}}")
        a.ui.massive.centered.right.labeled.green.icon.button(href="{{cta.link}}")
          span {{cta.text}}
          i.right.chevron.icon
  
  script.
    Polymer({
      is: 'maki-pitch',
      properties: {
        src: { type: String , observer: '_srcChanged' },
        pitch: { type: String },
        mission: { type: String },
        cta: { type: Object },
      },
      _srcChanged: function(src) {
        var self = this;
        console.log('[MAKI:PITCH]', '_srcChanged', src);
        
        if (!src) return;
        self.pitch = maki.config.service.pitch;
        self.mission = maki.config.service.mission;
        self.cta = maki.config.service.cta;
      },
      ready: function() {
        console.log('[MAKI:PITCH]', 'ready');
      },
    });
