dom-module#maki-pitch
  template
    h1.ui.inverted.header {{pitch}}
    h2.ui.inverted.header {{mission}}
    
    .content.top-padded
      template(is="dom-if", if="{{cta}}")
        a.ui.massive.centered.right.labeled.green.icon.button(href="{{cta.link}}")
          span {{cta.text}}
          i.right.chevron.icon
  
  script.
    Polymer({
      is: 'maki-pitch',
      properties: {
        pitch: { type: String },
        mission: { type: String },
        cta: { type: Object },
        source: { type: String , observer: '_render' },
        
      },
      _render: function() {
        var self = this;
        console.log('[MAKI:PITCH]', '_render');
        
        if (!self.data || !self.data.cta) return;
        
        self.$.target.innerHTML = window.markdown(self.source || '');
      },
      ready: function() {
        console.log('[MAKI:PITCH]', 'ready');
      },
    });
