dom-module#maki-resource
  script.
    Polymer({
      is: 'maki-resource',
      properties: {
        name: {
          type: String
        },
        store: {
          type: Object
        },
        definition: {
          type: Object
        }
      },
      _load: function() {
        var self = this;
        console.log('[MAKI:RESOURCE]', '_load', self.name);

        self.store = new Nedb({
          filename: self.name,
          autoload: true,
          onload: function(err) {
            if (err) console.error('[MAKI:RESOURCE]', '_load', err);
            self.fire('resource:store');
          }
        });
        
      },
      ready: function() {
        var self = this;
        console.log('[MAKI:RESOURCE]', 'ready', self.name);
        self._load();
      }
    });
