dom-module#maki-search-result
  template
    .content
      a.ui.right.floated.blue.icon.button(href="{{data.link}}")
        i.right.chevron.icon
      a.header(href="{{data.link}}") {{data.id}}
      .metadata
        | a  
        span {{meta.type}}
  script.
    Polymer({
      is: 'maki-search-result',
      properties: {
        // internals
        src: { type: String , observer: '_load' },
        data: { type: Object , observer: '_dataChanged' },
        meta: { type: Object },
        state: { type: String },
        source: { type: String },
        output: { type: String }
      },
      _load: function(uri, back) {
        var self = this;
        console.log('[MAKI:SEARCH-RESULT]', '_load', uri, back);
        
        $(self).addClass('loading');

        // TODO: use this API instead:
        // fabric.get(self.src, function(err, data) { ... });
        $.getJSON(uri, {}, function(data, status, xhr) {
          var headers = xhr.getAllResponseHeaders();
          var fields = headers.split('\n');
          var map = {};
          
          fields.forEach(function(header) {
            var pair = header.split(':').map(function(input) {
              return input.trim();
            });
            
            map[pair[0]] = pair[1];
          });
          
          var meta = {
            type: map['X-Fabric-Type'],
            namespace: map['X-Fabric-Namespace'],
            name: map['X-Fabric-Name'],
            //description: map['X-Fabric-Description'],
            //image: map['X-Fabric-Image'],
          };
          
          self.meta = meta;
          self.data = data;
          
          console.log('[MAKI:SEARCH-RESULT]', '_load', 'loaded', meta);
          
          $(self).removeClass('loading');
        });

      },
      _dataChanged: function(data, old) {
        console.log('[MAKI:SEARCH-RESULT]', '_dataChanged', data);
      }
    });
