//- submits an `email` to `src`
dom-module#maki-waiting-list
  template
    style.
      :host {
        display: block;
        height: 10em;
      }

      .labeled.icon.button span i {
        margin-right: 1em;
      }

    template(is="dom-if", if="{{hasSubscribed}}")
      h3.ui.inverted.header You're on the waiting list.  Stand by for updates!
      button.ui.primary.labeled.icon.button(on-tap="resetForm")
        i.refresh.icon
        | Invite Another &raquo;
    template(is="dom-if", if="{{!hasSubscribed}}")
      form.ui.equal.width.form(action="{{src}}", method="POST")
        .fields
          .two.wide.field
          .ten.wide.field
            .ui.huge.right.action.input
              input(type="email", placeholder="{{placeholder}}", name="email", value="{{email}}")
              button.ui.right.huge.green.icon.button(on-tap="submitForm")
                i.right.icon.right.chevron
          .two.wide.field
      h3.ui.inverted.header
        i(class$="{{icon}}")
        | {{text}}

  script.
    Polymer({
      is: 'maki-waiting-list',
      properties: {
        src: { type: String , value: '/invitations' },
        icon: { type: String , value: 'rss icon' },
        text: { type: String , value: 'Subscribe now to be notified when we launch.' },
        placeholder: { type: String , value: 'Enter your email' },
        email: { type: String },
        hasSubscribed: { type: Boolean , value: false },
        isWorking: { type: Boolean , value: false }
      },
      resetForm: function(e) {
        document.querySelector('form').reset();
        this.hasSubscribed = false;
      },
      submitForm: function(e) {
        e.preventDefault();
        var self = this;
        $(self).find('.ui.form').addClass('loading');
        
        console.log('[MAKI:WAITING-LIST]', 'submitForm', 'email', email);
        
        $.ajax(self.src, {
          data: JSON.stringify({ email: self.email }),
          contentType: 'application/json',
          type: 'POST',
          success: function() {
            $(self).find('.ui.form').removeClass('loading')
            document.querySelector('form.ui.form').reset();
            self.hasSubscribed = true;
          }
        });
        return false;
      },
      ready: function(data) {
        console.log('[MAKI:WAITING-LIST]', 'ready');
      }
    });
