form.ui.form.segment(action="/#{resource.collection}", method="post")
  for field in fields
    - if (resource.keys[field])
      - var f = resource.attributes[ field ]
      .field(class=((f && f.required) ? 'required' : undefined ))
        label #{field}
        input(type="#{f._type}", name="#{field}", required=((f && f.required) ? 'required' : undefined ), class=((f && f.required) ? 'required' : undefined ) )
      
  button.ui.blue.submit.button(type="submit") Create &raquo;
