form.ui.form.segment(action="/sessions", method="post")
  .field
    label(for="username") Username
    input.ui.left.labeled.input(type="text", name="username", placeholder="Username")

  .field
    label(for="password") Password
    input.ui.left.labeled.input(type="password", name="password")

  button.ui.button(type="submit") Log In &raquo;
