form.ui.inverted.form(action="/invitations", method="POST")
  if (channelsToJoin)
    input(type="hidden", name="topics", value="#{channelsToJoin.join(',')}")

  .field
    .ui.massive.action.input
      input(type="email", name="email", placeholder="e.g., you@yourdomain.com", required)
      button.ui.icon.green.button(type="submit")
        i.icon.leaf
        | &nbsp;&nbsp;Get Started &nbsp;
        i.icon.right.chevron
