extends layouts/default

block content

  h1 Register

  form.ui.form.segment(action="/people", method="post")
    .field
      label(for="username") Username
      input.form-control(type="text", name="username", placeholder="e.g., yourname")

    .field
      label(for="email") Email
      input.ui.left.labeled.input(type="text", name="email", placeholder="e.g., you@yourcompany.com")

    .field
      label(for="password") Password
      input.ui.left.labeled.input(type="password", name="password")

    .field

      label(for="passwordAgain") Password (again)
      input.ui.left.labeled.input(type="password", name="passwordAgain")

    input.btn.btn-primary(type="submit")
