extends layouts/default

block content

  - var idField = resource.fields.id;

  h1.ui.breadcrumb
    block breadcrumbs
      a.active.section(href="/#{resource.collection}") #{resource.plural}

  //- TODO: use different modules for different collection types?
  if typeof(collection) == 'undefined'
  
    - var item = JSON.parse(JSON.stringify(item))
    - var fields = Object.keys( item || {} )
    include modules/item

    h3 Create
    include forms/resource-create

  else

    - var fields = Object.keys( collection[0] || {} )
    include modules/collection

    h3 Create
    include forms/resource-create
